{% extends 'core/base.html' %}
{% load static %}
{% block content %}

	<!--page-banner-start-->
		<div class="page-banner-area bg-1">
			<div class="container">
				<div class="row height-400 align-items-center">
					<div class="col-lg-12">
						<div class="page-banner text-center">
						<h1>{{serv.Service_Title}}</h1>
							<div class="site-breadcrumb">
								<nav aria-label="breadcrumb">
								  <ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
								  </ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--page-banner-end-->
		
		<div class="service-details pt-120 pt-sm-80 pb-100 pb-sm-60">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="service-siebar">
							<div class="service-menu">
								<ul class="list-none">
									{% for service in services %}
										<li><a class="{% if forloop.first %}active{% endif %}" 
										href="{% url 'service-details' service.title_to_url%}">{{service.Service_Title}}</a></li>
									{% endfor %}
								</ul>
							</div>
							
							<div class="contact-info style-2 mt-50">
								<h3>How can we help?</h3>
								<p>Contact us at the Accentuate office nearest to you or submit an inquiry online.</p>
								<ul class="list-none mt-25">
									<li>
										<i class="lnr lnr-map-marker"></i>
										Franse Stormboulevard 2 9677 JB Gasselternijveen
									</li>
									<li>
										<i class="lnr lnr-phone-handset"></i>
										(0131) 804 1808
									</li>
									<li>
										<i class="lnr lnr-envelope"></i>
										info@topjob.co.nz
									</li>
								</ul>
								<a href="{% url 'contact' %}" class="btn-common mt-40">GET IN TOUCH</a>
							</div>
							<div class="company-bouchure mt-50">
								<h3>HomeCleaner Bouchure</h3>
								<p>HomeCleaner’s cleaning service line can provide a complete range of professional cleaning services adapted to the needs of each client.</p>
								<a href="#" class="btn-common mt-10">DOWNLOAD PDF</a>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="service-details mt-sm-50">
							<img src="{{serv.Second_Service_Image.url}}" alt="sliderImg">
							<div class="mt-45"></div>
							<h3>Services Overview </h3>
							<p>{{serv.First_Service_Content}}</p>
							<blockquote class="mt-45"><span>Not only will we provide you with a full-service, janitorial cleaning program, but we will provide you with all your restroom supplies and manage the inventory for you, freeing up your time to do what you do best.</span></blockquote>
							<div class="row mt-60">
								<div class="col-lg-6">
									<img src="{{serv.Second_Service_Image.url}}" alt="sliderImg">
								</div>
								<div class="col-lg-6">
									<p>{{serv.Second_Service_Content}}</p>
									<a href="#" class="btn-common">SERVICE CALCULATOR</a>
								</div>
							</div>
							<div class="row mt-60">
								<div class="col-lg-12">
									<h3>Frequently Asked Questions</h3>
									<div id="accordion" class="mt-35">
										<div class="card single-faq">
											<div class="card-header faq-heading" id="headingOne">
												<h5 class="mb-0">
													<a href="#collapseOne" class="btn btn-link" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
													Do I have to sign a contract?
														<i class="arrow_carrot-up" aria-hidden="true"></i>
														<i class="arrow_carrot-down" aria-hidden="true"></i>
													</a>
												</h5>
											</div>
											<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
												<div class="card-body">
													<p>No, we believe in performance-based contracts, which means that we have to earn your business every month. We do need to have you sign an Agreement that outlines the services to be provided, the frequency, price, and payment terms. The agreement also states that either party may discontinue service with a 30-day notice.</p>
												</div>
											</div>
										</div>
										<div class="card single-faq">
											<div class="card-header faq-heading" id="headingTwo">
												<h5 class="mb-0">
													<a href="#collapseTwo" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													What is included in a standard cleaning?
														<i class="arrow_carrot-up" aria-hidden="true"></i>
														<i class="arrow_carrot-down" aria-hidden="true"></i>
													</a>
												</h5>
											</div>
											<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
												<div class="card-body">
													<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
												</div>
											</div>
										</div>
										<div class="card single-faq">
											<div class="card-header faq-heading" id="headingThree">
												<h5 class="mb-0">
													<a href="#collapseThree" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													Will the same person be in my home each time?
														<i class="arrow_carrot-up" aria-hidden="true"></i>
														<i class="arrow_carrot-down" aria-hidden="true"></i>
													</a>
												</h5>
											</div>
											<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
												<div class="card-body">
													<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
												</div>
											</div>
										</div>
										<div class="card single-faq">
											<div class="card-header faq-heading" id="headingFour">
												<h5 class="mb-0">
													<a href="#collapseFour" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
													Can I request special tasks or extras?
														<i class="arrow_carrot-up" aria-hidden="true"></i>
														<i class="arrow_carrot-down" aria-hidden="true"></i>
													</a>
												</h5>
											</div>
											<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
												<div class="card-body">
													<p>The graphical control element accordion is a vertically stacked list of items, such as labels or thumbnails. Each item can be "expanded" or "stretched" to reveal the content associated with that item. There can be zero expanded items, exactly one, or more than one item expanded at a time, depending on the configuration stacked list of items, such as labels or thumbnails.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'core/popup.html'%}
	{% endblock content %}

	
			